<h1>Hello!</h1>
<a href="<%="http://api.vk.com/oauth/authorize?client_id=#{@id}&redirect_uri=#{@redirect_uri}"%>">Update</a>
<p>Token: <%=@token.token%></p>
<p>Expires: <%=@token.expires.in_time_zone("Moscow")%></p>

